@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "@mantine/tiptap/styles.css";
@import "@mantine/dates/styles.css";

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  color: #7030a0;
}

#bgImage {
  background: url("assets/bg.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  background-color: rgba(114, 8, 139, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  transform: translateZ(0);
  outline: none;
  opacity: 1;
  top: 0;
}
.custom-input {
  font-size: 16px;
  color: rgb(51, 51, 51);
  border: 1px solid rgba(144, 96, 181, 1);
  border-radius: 4px;
  word-break: normal;
  background: rgba(255, 255, 255, 1);
  font-family: Arial, sans-serif;
  transition: 0.3s;
  padding: 8px 12px;
  box-sizing: border-box;
}
.custom-input:focus {
  border-color: #029d69;
  box-shadow: 0px 0px 2px 0px #029d69;
  outline: none;
}
.btnStyle {
  background:#32035e;
  opacity: 1;
  padding: 10px 40px;
  border-radius: 100px;
  font-size: 1rem;
  display: flex;
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transform: translate3d(0, 0, 0);
  text-align: center;
  border: 1px solid transparent;
  transition: transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93),
    -webkit-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93),
    -o-transform 0.25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btnStyle:hover {
  -webkit-transform: scale3d(1.03, 1.03, 1) translate3d(0, 0, 0)
    perspective(500px);
  transform: scale3d(1.03, 1.03, 1) translate3d(0, 0, 0) perspective(500px);
  background: rgba(112, 48, 160, 1);
}
.btnStyle:focus {
  -webkit-transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0)
    perspective(500px);
  transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) perspective(500px);
}

.clip-arrow-right {
  clip-path:polygon( 0% 0%,  90% 0%,  100% 50%,  90% 100%,  0% 100%,  10% 50%  );
  margin-left: -46px;
}
.clip-arrow-first{
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%)
}
.clip-arrow-right:first-child {
  margin-left: 0; /* first one stays aligned */
}
.material-symbols-outlined {
  font-size: xx-large;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
